h2, h3{	
	padding: 8px;
	border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004f9e;
}

li{
	float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
	background-color: darkblue;
	color: white;
}


table{
	width:100%;
}

th{
	font-family: fantasy;
	background-color: #004f9e;
	color: white;
}

th, td{
	padding: 5px;
	border-bottom: 1px solid black;
	text-align: left;
}

tr:nth-child(even){
	background-color: #d8d8d8;
}

tr:hover{
	background-color: skyblue;
}

.NavBar li > .active{
	background-color: aqua;
	color: black;
}

.Page_Name{
	font-family: fantasy;
}

